<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>

	<body>
		<h1>All Dojos</h1>
		<div>
			<!-- displays the /add/dojo form -->
			<form action="add/dojo" method="post">
				<div>
					<h1>
						<label for="name">Dojo Name</label>
					</h1>
				</div>
				<div>
					<!-- validates for user input -->
					<input type="text" name="name" id="" /> {% for message in
					get_flashed_messages(category_filter = ["dojo_error"]) %}
					{{message}} {% endfor %}
				</div>
				<button type="submit">Add dojo</button>
				<div></div>
			</form>
			<!-- take you to the add/ninja page -->
		</div>
		<div><a href="add/ninja">Add Ninja</a></div>
		<div>
			<!-- displays all the dojos names -->
			{%for item in dojos:%}
			<h1><a href="/show_one/{{item.id}}">{{item.name}}</a></h1>
			{%endfor%}
		</div>
	</body>
</html>
